@import "tailwindcss";

@theme {
    --color-gray-50: #ededed;
    --color-gray-100: #e3e3e3;
    --color-gray-200: #c7c7c7;
    --color-gray-300: #acacac;
    --color-gray-400: #909090;
    --color-gray-500: #757575;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #3f4444;
    --color-gray-800: #2E2E2E;
    --color-primary-50: #e0f5fa;
    --color-primary-100: #bbf2ff;
    --color-primary-200: #76e6ff;
    --color-primary-300: #42c4e1;
    --color-primary-400: #00b7e1;
    --color-primary-500: #00819d;
    --color-primary-600: #006277;
    --color-primary-700: #004352;
    --color-primary-800: #00333e;
    --color-primary-900: #00191f;
    --color-secondary-50: #feeee9;
    --color-secondary-100: #ffdacd;
    --color-secondary-300: #fa9370;
    --color-secondary-400: #F86C3D;
    --color-secondary-500: #D93D08;
    --color-secondary-600: #BC3000;
    --color-secondary-700: #9b2800;
    --color-secondary-800: #661A00;
    --color-success-50: #d8f9f0;
    --color-success-100: #abffe6;
    --color-success-200: #7aedca;
    --color-success-500: #128562;
    --color-success-700: #006949;
    --color-warning-100: #ffdeb6;
    --color-warning-600: #965200;
    --color-error-200: #FFB1A7;
    --color-error-500: #e42b14;
    --color-error-700: #A31300;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-light);
    background-color: var(--background-light);

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    --text-light: #2E2E2E;
    --text-dark: #ededed;

    --background-light: #ededed;
    --background-grey: #b9b9b9;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p, textarea {
    max-width: 75ch;
    text-wrap: pretty;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--text-light);
    }
}
