:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-light);
    background-color: var(--background-light);

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    --text-light: #2E2E2E;
    --text-dark: #ededed;

    --background-light: #ededed;
    --background-grey: #b9b9b9;

    --gray-5: #ededed;
    --gray-10: #e3e3e3;
    --gray-20: #c7c7c7;
    --gray-30: #acacac;
    --gray-40: #909090;
    --gray-50: #757575;
    --gray-60: #5d5d5d;
    --gray-70: #3f4444;
    --gray-80: #2E2E2E;
    --primary-5: #e0f5fa;
    --primary-10: #bbf2ff;
    --primary-20: #76e6ff;
    --primary-30: #42c4e1;
    --primary-40: #00aed7;
    --primary-50: #00819d;
    --primary-60: #006277;
    --primary-70: #004352;
    --primary-80: #00333e;
    --primary-90: #00191f;
    --accent-5: #feeee9;
    --accent-10: #ffdacd;
    --accent-30: #fa9370;
    --accent-40: #F86C3D;
    --accent-50: #D93D08;
    --accent-60: #BC3000;
    --accent-70: #9b2800;
    --accent-80: #661A00;
    --success-5: #d8f9f0;
    --success-10: #abffe6;
    --success-20: #7aedca;
    --success-50: #128562;
    --success-70: #006949;
    --warning-10: #ffdeb6;
    --warning-60: #965200;
    --error-20: #FFB1A7;
    --error-50: #e42b14;
    --error-70: #A31300;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--text-light);
    }
}
